/* styles.css */
.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.loader-container img {
    width: 80px; /* Aquí ajustas el tamaño a tu gusto */
    height: auto;
}